###########################
# These are the environmental variables that you must define in your local repo's .env file. Do NOT add any to this
# repo. Boolean values should be the word "true" or "false" (though any case works since we lower() it)
###########################
# Shared variables used by multiple tests
###########################
## This will set the logging level
shared.LOGGING_LEVEL=logging.INFO
## This is the good API key used for testing. It can be either an API key from your Indigo Account or a secret in your
## local secrets.json file.
shared.GOOD_API_KEY=GOOD-KEY-HERE
## The full hostname prefix to use for API calls - will default to https://localhost:8176 (no trailing /)
shared.URL_PREFIX=https://localhost:8176
## This is the URL path to the version of the API that's being used (no trailing /)
shared.API_PREFIX=/v2/api
## This is the ID of the plugin that you are testing. Primarily used to restart the plugin if necessary.
shared.PLUGIN_ID=com.some.plugin
## Should the plugin be restarted in the debugger
shared.RESTART_IN_DEBUGGER=false
## This is the amount of time to wait for a plugin to restart.
shared.PLUGIN_RESTART_WAIT_TIME=5
